<main id="main-week-container">
    <div id="main-week">
        <h3>Week View</h3>
        <div id='month-container'>
            <p>Sun</p>
            <p>Mon</p>
            <p>Tue</p>
            <p>Wed</p>
            <p>Thu</p>
            <p>Fri</p>
            <p>Sat</p>
        </div>
        <div id="details-container" class="detail-container">
        <% for(habit of habits) {%>
            <p class="habit-name"><%=habit.habit%></p>
            <div class='day-status' id="day-<%= habit._id %>">

            </div>
        <%}%>
        </div>
    </div>
</main>