<main id="main-week-container">
    <h1>Week View</h1>
    <div id='monthe-container'>
        <p>Sun</p>
        <p>Mon</p>
        <p>Tue</p>
        <p>Wed</p>
        <p>Thu</p>
        <p>Fri</p>
        <p>Sat</p>
    </div id="details-container">
    <% for(habit of habits) {%>
        <p><%=habit.habit%></p>
        <ul id="date-container">
            <li id="dates">1</li>
            <li id="dates">2</li>
            <li id="dates">3</li>
            <li id="dates">4</li>
            <li id="dates">5</li>
            <li id="dates">6</li>
            <li id="dates">7</li>
        </ul>
    <%}%>
</main>