// positioning the nav bar as middle
nav{
    width: 50%;
    margin: auto;
}

// positioning the form in the middle
#main-form-container{
    width: 50%;
    margin: auto;
    // border : 1px solid black;
}

#form-detail{
    display: none;
}

// positioning the fields in the center
#form-container{
    width: 60%;
    margin: auto;
    color: red;
    padding: 10px;
}

// button position
#btn{
    width: 50%;
    margin: auto;
}

// heading of form
#form-container h1{
    width: 50%;
    margin: auto;
    color: lightcoral;
}
