#main-week-container{
    width: 50%;
    margin: auto;
    // border: 1px solid black;
    #main-week{
        width: 50%;
        margin: auto;
        // border: 1px solid black;
        background-color: lightgray;
        h3{
            width: 50%;
            margin: auto;
            // background-color;
        }
        #month-container{
            background-color: lightgray;
            P{
                display: inline-block;
                margin: 9px;
            }
        }
            #details-container{
                p{
                    background-color: grey;
                    color:gold;
                }
                #date-container{
                    // margin :0px;
                    li{
                    display: inline-block;
                    width: 13%;
                    height: 50px;
                        button{
                            width: 100%;
                            height: 50px;
                            padding: 10px;
                            text-align: top;
                        }
                    }
                }
        }
    }
   
}

.item-container{
    display: inline-block;
    width: 14%;
    justify-content: center;
    background: white;
    flex-direction: column;
    border: 1px solid black;
    // height: 1%;
    .date-container{
        border: 1px solid white;
        // height: 100px;
        text-align: center;
        font-size: larger;
        font-weight: bolder;
        background: white;
        border-radius: 3px;
    }
    .option-list{
        display: none;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .status-container{
        height: 50px;
    }
    .status-value{
        color: red;
        font-size: 100%;
        text-align: center;
    }
}

